<canvas id="canvas"></canvas>
<%- include('header') %>
<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <form class="ui form segment" method="POST" enctype="multipart/form-data">
          <div class="feild required user-name">
            <label>用户名</label>
            <input type="text" name="name">
          </div>
          <div class="feild required user-password">
            <label>密码</label>
            <input type="password" name="password">
          </div>
          <div class="feild required user-password">
            <label>重复密码</label>
            <input type="password" name="repassword">
          </div>
          <div class="feild required user-gender">
            <label>性别</label><br>
            <select class="ui compact selection dropdown" name="gender">
              <option value="m">男</option>
              <option value="f">女</option>
              <option value="x">保密</option>
            </select>
          </div>
          <div class="feild required user-avatar">
            <label>头像</label>
            <input type="file" name="avatar">
          </div>
          <div class="feild required user-bio">
            <label>个人简介</label>
            <textarea name="bio" rows="5"></textarea>
          </div>
          <input type="submit" value="注册" class="ui button fluid">
        </form>
    </div>
</div>
<%- include('footer') %>
<script type="text/javascript" src="common/canvas.js"></script>
<link rel="stylesheet" href="css/bg.css">
